.site-header{
    padding-top: 58px;
}
.site-header__wrraper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-header__filter{
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 228px;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
}
.site-header__btn{
    position: relative;
    z-index: 3;
    
    border: none;
    background-color: transparent;
}
.site-main__out{
    position: absolute;
    z-index: 2;
    margin: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    right: calc(50% + -565px );
    top: 127px;
    width: 76px;
    border-radius: 9px;
    background-color: #f2f2f2f2;
    animation: modal 1s  alternate;
    &::before{
        position: absolute;
        z-index: 2;
        display: block;
        top: -28px;
        left: 13px;
        width: 35px;
        height: 32px;
        background-image: url('../../assets/img/prev.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        content: "";
    }
    &--open{
        display: none;
    }
}
.site-main__page{
    margin: 0px;
}
@keyframes modal {
    0%{
        top: 110px;
    }
    50%{
        top: 150px;
    }
    100%{
        top: 127px;
    }
}